body, :root {
    font-size: min(2.5vmin, 1rem);
}

section ul li, .conclusao{
    line-height: 2.2em;
}

section img {
    width: 400px;
    margin-bottom: 2em;
}

.title {
    padding-bottom: .6em;
}

.list-disc {
    list-style-type: circle;
    margin-left: 1.2em;
}

/* Sets the slide size and text behavior to better gives the slide illusion */
.slide-frame {
    height: 100vh;
}

/* Effectively hides the scrollbar */
::-webkit-scrollbar {
    width: 0;
}

.is-fixed {
    position: fixed!important;
}

.is-hidden {
    display: none;
}

.start-0 {
    left: 0;
}

.top-0 {
    top: 0;
}

*:fullscreen
*:-ms-fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen {
   overflow: auto !important;
}